@import "tailwindcss";

.search-focus:focus-within {
  box-shadow: 0 0 5px 1px #737373;
}

.shadow-regular {
  box-shadow: 0 0px 5px 1px #737373;
}

.inner-shadow {
  box-shadow: inset 0 0 3px 1px #737373;
}

.wiggle-input {
  animation: wiggle 0.5s linear;
}

@keyframes wiggle {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-1%); }
  50%  { transform: translateX(1%); }
  75%  { transform: translateX(-1%); }
  100% { transform: translateX(0); }
}