@import "tailwindcss";

.search-focus:focus-within {
  box-shadow: 0 0 5px 1px #737373;
}

.shadow-regular {
  box-shadow: 0 0px 5px 1px #737373;
}

.inner-shadow {
  box-shadow: inset 0 0 3px 1px #737373;
}

/* when input validation didnt go through */
.wiggle-input {
  animation: wiggle 0.5s linear;
}

/* loading spinner */
.loading {
  animation: loading 1s linear infinite;
}

/* pulsing animation class */
.pulse {
  animation: pulse 1.5s linear infinite;
}

/* skeleton shimmer */
@keyframes pulse {
    0% {background-color: #000}
    50% {background-color: #969696}
    100% {background-color: #000}
}

/* when input validation didnt go through */
@keyframes wiggle {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-1%); }
  50%  { transform: translateX(1%); }
  75%  { transform: translateX(-1%); }
  100% { transform: translateX(0); }
}

/* loading animation */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}