#product-cards-container::-webkit-scrollbar {
  width: 8px;  
}

#product-cards-container::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#product-cards-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

#product-cards-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#product-cards-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

#main-query-product-container::-webkit-scrollbar {
  width: 8px;  
}

#main-query-product-container::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#main-query-product-container::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

#main-query-product-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#main-query-product-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}