/* ###################################################################################################################### */
#product-cards-container::-webkit-scrollbar {
  width: 8px;  
}

#product-cards-container::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#product-cards-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

#product-cards-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#product-cards-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* ###################################################################################################################### */
#search-results-container::-webkit-scrollbar {
  width: 8px;  
}

#search-results-container::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#search-results-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

#search-results-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#search-results-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* ###################################################################################################################### */
#card-features-wrapper::-webkit-scrollbar {
  width: 6px;  
}

#card-features-wrapper::-webkit-scrollbar-track {
  background: #c9c9c9;
}

#card-features-wrapper::-webkit-scrollbar-thumb {
  background-color: #000;
}

#card-features-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#card-features-wrapper::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* ###################################################################################################################### */
#content-wrapper::-webkit-scrollbar {
  width: 4px;  
}

#content-wrapper::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#content-wrapper::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
}

#content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#content-wrapper::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* ###################################################################################################################### */
#filter-sidebar-wrapper::-webkit-scrollbar {
  width: 4px;  
}

#filter-sidebar-wrapper::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#filter-sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
}

#filter-sidebar-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#filter-sidebar-wrapper::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

/* ###################################################################################################################### */
#main-query-product-container::-webkit-scrollbar {
  width: 8px;  
}

#main-query-product-container::-webkit-scrollbar-track {
  background: #c9c9c9;
  border-radius: 10px;
}

#main-query-product-container::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 10px;
}

#main-query-product-container::-webkit-scrollbar-thumb:hover {
  background-color: oklch(61.013% 0.12532 83.38);
  cursor: grab;
}

#main-query-product-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}